---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for pageUrl in ["/", "/rules/", "/about/"] %}
  <url>
    <loc>{{ site.url }}{{ pageUrl }}</loc>
  </url>
  {%- endfor %}
</urlset>
